.Rproj.user
.Rhistory
.RData
*.pdf
*.tex
*.docx
*.html
JSSDraft_files/
SimulationPaper_files/
DraftOne_cache/
DraftOne_cache/docx/
DraftOne_files/figure-docx
DraftOne_files/
.DS_Store
writing/.DS_Store
